/*GLOBAL*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}

a {
	text-decoration: none;
}

/*GLOBAL CLASSES*/

.blue {
	color: #3176fc;
}

.iconify {
	width: 80px;
	height: 80px;
	color: #3176fc;
}

/*NAVBAR*/

nav {
	background-color: #1f1f1f;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#logo {
	margin-left: 2vw;
	color: white;
	font-size: 20px;
	font-weight: bold;
	flex: 1;
}

ul {
	display: flex;
	list-style-type: none;
	justify-content: center;
	flex: 1;
}

li {
	margin-left: 20px;
	font-size: 20px;
}

li a {
	color: #ffffff;
	text-decoration: none;
}

#login {
	padding: 5px;
	margin: 15px;
	border-radius: 5px;
	background-color: #ffffff;
	font-weight: 600;
	color: #030303;
	font-size: 14;
	flex: 1;
}

/*MAIN*/

#mainIndex {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #282828;
	height: 700px;
	width: 100%;
	padding-top: 50px;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #282828;
	height: 1050px;
	width: 100%;
	padding-top: 50px;
	text-align: center;
}

#mainIntroducion {
	width: 50%;
	height: 260px;
}

#mainIntroducion p {
	color: #ffffff;
	font-size: 22px;
}

#mainIntroducion h2 {
	color: #fff;
	font-size: 48px;
	font-weight: bold;
}

#tutorialListMain {
	display: flex;
	flex-direction: row;
	width: 60%;
}

#tutorialListMain article {
	width: 25%;
	height: 68%;
	margin: 10px;
}

.tutorialImage {
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	border-radius: 15%;
}

.creator {
	color: #fff;
	font-size: 10px;
	font-weight: medium;
	text-align: left;
}

.tutorialName {
	color: #fff;
	font-size: 12px;
	font-weight: medium;
	text-align: left;
}

.rating {
	color: #fff;
	font-size: 12px;
	font-weight: medium;
	text-align: left;
}

/*INFOBAR*/

#info {
	background-color: #333333;
	height: 350px;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.sekcja {
	margin-top: 40px;
	flex: 1;
	height: 215px;
	text-align: center;
}

.sekcja h2 {
	font-weight: lighter;
	color: #ffffff;
	font-size: 24px;
}

.sekcja p {
	color: #d0d0d0;
	font-size: 14px;
}

/*FOOTER*/

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #1f1f1f;
	height: 50px;
	width: 100%;
}

footer p {
	text-align: center;
	color: #ffffff;
	font-size: 12px;
}

footer p a {
	color: #3176fc;
	text-decoration: none;
}